@model OnePiece.Models.Fruit

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Fruit</h4>
<hr />
<div class="row">
    <div class="col-xs-6 col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<FruitType>()" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Upload image</label>
                <input id="uploadfile" type="file" name="files" class="form-control" />
                <p style="color:darkred">@ViewBag.WrongExtension</p>
            </div>
            <div class="form-group">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
                @*用button来代替input，可以插入使用glyphicon*@
                <button type="submit" value="Create" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Create</button>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-md-8">
        <div style="text-align:center">
            <img id="img" src="" alt="" style="max-width:800px">
        </div>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
    @*用from+button来代替a，可以插入使用glyphicon以及button的class*@
    <form asp-action="Index">
        <button class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(function () {
        $("#uploadfile").on("change", function () {
            var file = this.files[0];
            if (this.files && file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#img").attr("src", e.target.result);
                }
                reader.readAsDataURL(file);
            }
        })
    })
</script>