@model OnePiece.Models.Setting

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Setting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FruitCountPerPage" class="control-label"></label>
                <input asp-for="FruitCountPerPage" class="form-control" />
                <span asp-validation-for="FruitCountPerPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeaponCountPerPage" class="control-label"></label>
                <input asp-for="WeaponCountPerPage" class="form-control" />
                <span asp-validation-for="WeaponCountPerPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PirateGroupCountPerPage" class="control-label"></label>
                <input asp-for="PirateGroupCountPerPage" class="form-control" />
                <span asp-validation-for="PirateGroupCountPerPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonCountPerPage" class="control-label"></label>
                <input asp-for="PersonCountPerPage" class="form-control" />
                <span asp-validation-for="PersonCountPerPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
