@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["One Piece"];
}
<h2>@ViewData["Title"]</h2>

<div style="text-align:center">
    <img src="~/images/cover.jpg" style="width:100%">
</div>